@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'),
			url('../fonts/OpenSans-Regular.woff2') format('woff2'),
			url('../fonts/OpenSans-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'),
			url('../fonts/OpenSans-Bold.woff2') format('woff2'),
			url('../fonts/OpenSans-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}