@media (max-width: 768px) {
	// nav ----------------------------/
	.nav--closed {
		.nav__list {
			display: none;
		}
		.user__list {
			display: none;
		}
	}
	.nav--nojs {
		.nav__burger-btn {
			display: none;
		}
		.nav__list {
			display: block;
		}
		.user__list {
			display: block;
		}
	}
}




@media(min-width: 600px) {
	// main-section -------------------/
	.main-section {
		position: relative;
		&::after {
			content: '';

			height: 22px;

			position: absolute;
			left: 0;
			right: 0;
			bottom: -10px;

			background-image: url(../images/main-section-zigzag.svg);
			background-position: 0 0;
			background-size: 37px 22px;
			background-repeat: repeat-x;
		}
		&__inner {
			padding: 74px 50px 0;
		}
		&__list {
			display: flex;
		}
		&__item {
			width: 50%;
		}
		&__link {
			padding: 35px 36px;
		}
		&__item--toys {
			.main-section__link {
				&::after {
					right: 33px;
				}
			}
		}
	}

	// baskets ------------------------/
	.baskets {
		margin: 0 0 50px;
		.container {
			padding: 0 50px 42px;

			background-size: 37px 15px;
		}
	}

	// about --------------------------/
	.about {
		.container {
			padding: 0 50px;
		}
		&__title {
			margin: 0 0 45px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			width: 50%;
		}
	}

	// reviews ------------------------/
	.reviews {
		&__inner {
			padding: 0 50px 50px;

			background-size: 37px 15px;
		}
	}

	// footer -------------------------/
	.footer {
		&__title {
			padding: 0 50px;

			font-size: 25px;
		}
		&__info {
			padding: 0 50px;
		}
		&__btn {
			width: 230px;
			padding: 14px 36px;
		}
	}
}



@media (min-width: 768px) {
	// container ----------------------/
	.container {
		padding: 0 50px;
	}

	// title --------------------------/
	.title {
		font-size: 43px;
		line-height: 50px;
	}

	// nav -------------------------------/
	.nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 50px;
		height: 90px;
		&::after {
			top: 89px;
		}
		&__burger-btn {
			display: none;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			width: 385px;
			order: 3;

			font-size: 15px;
		}
		&__item--new,
		&__item--sale {
			display: none;
		}
		&__link {
			padding: 20px 35px 20px 0;
			border: none;
		}
		&__delivery {
			display: block;
			order: 4;
		}
	}

	// user ---------------------------/
	.user {
		width: 350px;
		height: 100%;
		order: 2;
		&__list {
			display: flex;
			justify-content: flex-end;
		}
		&__link {
			border: none;
			border-left: 1px solid #ececec;
			padding: 33px 0 33px 30px;
		}
		&__link--search {
			padding: 33px 31px 33px 33px;

			font-size: 0;
			.user__icon {
				margin: 0;
			}
		}
		&__icon {
			margin: 0 32px 0 0;
		}
	}

	// logo ---------------------------/
	.logo {
		width: 315px;
		height: 46px;
		margin: 22px 0;
		order: 1;
	}

	// main-section -------------------/
	.main-section {
		margin: 0 0 50px;
		&__inner {
			padding: 160px 50px 0;

			background-image: url(../images/main-section-bg-tablet.jpg);
			background-position: center 0;
		}
		&__title {
			width: 520px;
			margin: 0 auto 368px;
			br {
				display: none;
			}
		}
	}

	// baskets ------------------------/
	.baskets {
		.container {		
			padding: 0 50px 70px;
		}
		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 0 57px;
		}
		&__title {
			margin: 0;
		}
		&__status {
			width: 125px;
			margin: 0;

			text-align: center;
		}
		&__list {
			max-width: 700px;
			margin: 0 auto;

			position: relative;
		}
		&__item {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__info-box {
			max-width: 290px;
		}
		&__text {
			font-size: 17px;
			line-height: 30px;

			margin: 0 0 40px;
		}
		&__img-box {
			margin: 0;
		}
		&__img {
			width: 333px;
			height: 404px;
		}
		&__price-box {
			width: 290px;

			position: absolute;
			top: 295px;
			left: 0;
		}
		&__price {
			font-size: 20px;

			margin: 0 0 32px;
		}
		&__btn {
			max-width: 100%;
		}
	}

	// about --------------------------/
	.about {
		margin: 0 0 24px;
		&__list {
			font-size: 20px;
			line-height: 22px;
		}
		&__item {
			padding: 54px 0 56px;
		}
		&__item--ecological {
			order: 1;
		}
		&__item--scandinavian {
			order: 3;
		}
		&__item--likes {
			order: 5;
		}
		&__item--manually {
			order: 2;
		}
		&__item--support {
			order: 4;
		}
		&__item--box {
			order: 6;
		}
		
	}

	// reviews ------------------------/
	.reviews {
		margin: 0 0 60px;
		&__inner {
			position: relative;

			min-height: 537px;
			padding: 173px 50px 80px;

			background-image: url(../images/baskets-zigzag.svg),
									url(../images/reviews-bg.jpg);
			background-position: 0 100%, 0 0;
			background-size: 37px 15px, auto auto;
			background-repeat: repeat-x, no-repeat;
		}
		&__title {
			margin: 0;

			position: absolute;
			top: 75px;
			left: 50px;
		}
		&__text {
			margin: 0 0 60px;

			font-size: 17px;
		}
		&__name {
			margin: 0;

			font-size: 18px;
		}
		.slick-arrow {
			bottom: 0;

			width: 88px;
			border: none;
		}
		.slick-prev {
			left: auto;
			right: 88px;
		}
		&__btn {
			width: 175px;
			padding: 14px 38px;

			position: absolute;
			top: 80px;
			right: 50px;

			font-size: 17px;
		}
	}

	// footer -------------------------/
	.footer {
		&__title {
			margin: 0 auto 50px;
			

			position: relative;
			&::after {
				content: '';

				position: absolute;
				top: 50%;
				right: 50px;

				width: 47px;
				height: 81px;
				transform: translateY(-50%);

				background-image: url(../images/icons/flag.svg);
			}
		}
		&__info {
			display: flex;
			align-items: flex-start;
			margin: 0 auto 55px;

			font-size: 17px;
		}
		&__mail {
			width: 50%;
			align-items: flex-start;
			margin: 0;
			&-link {
				margin: 0 0 0 24px;

				line-height: 30px;
			}
		}
		&__address {
			width: 50%;
			margin: 0;
			&-info {
				margin: 0 0 0 24px;
			}
		}
		&__map {
			margin: 0 0 55px;
		}
		&__btn {
			margin: 0 auto 55px;
		}
		&__bottom {
			padding: 50px 0 55px;
			&-wrap {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 50px;
			}
		}
		&__logo-wrap {
			width: 35%;
		}
		&__logo {
			display: block;
		}
		&__copy {
			justify-content: flex-end;
			width: 35%;
			margin: 0;
			&-icon {
				margin: 0 0 0 40px;
			}
		}
	}

	// social-networks ----------------/
	.social-networks {
		display: flex;
		justify-content: center;
		width: 35%;
		margin: 0;
		padding: 0;
		border: none;
	}
}



@media (min-width: 1150px) {
	// title --------------------------/
	.title {
		font-size: 53px;
		line-height: 57px;
	}
	// nav ----------------------------/
	.nav {
		justify-content: flex-start;
		&::after {
			left: 0;
			right: auto;

			width: 100vw;

			background-color: #ececec;
		}
		&::before {
			content: '';

			position: absolute;
			top: 89px;
			right: 0;
			
			width: 100vw;
			height: 1px;
	
			background-color: #ececec;
		}
		&__list {
			width: 445px;
			margin: 0 40px 0 -35px;

			font-size: 17px;
			order: 1;
		}
		&__item--new,
		&__item--sale {
			display: block;

			font-size: 15px;
		}
		&__item--new {
			.nav__link {
				padding: 20px 28px 20px 35px;
			}
		}
		&__item--sale {
			.nav__link {
				padding: 20px 28px 20px 35px;
			}
		}
		&__link {
			padding: 33px 35px;
		}
		&__delivery {
			margin: 0;

			position: absolute;
			top: 125px;
			right: 50px;
		}
	}

	// user ---------------------------/
	.user {
		margin-left: auto;

		order: 3;
	}

	// logo ---------------------------/
	.logo {
		width: 149px;
		height: 72px;
		margin: 9px 0 7px;
		order: 2;
	}

	// main-section -------------------/
	.main-section {
		margin: 0 0 70px;
		&::after {
			height: 34px;

			bottom: -18px;
			
			background-size: 57px 34px;
		}
		&__inner {
			background-image: url(../images/main-section-bg-desktop.jpg);
		}
		&__title {
			width: 700px;
		}
	}

	// baskets ------------------------/
	.baskets {
		max-width: 1150px;
		padding: 0 50px;
		margin: 0 auto 66px;
		.container {
			position: relative;

			padding: 0 0 95px;

			background-size: 53px 23px;
			background-position: 22px 100%;
		}
		&__top {
			margin: 0;
			padding: 0 0 0 50px;

			position: absolute;
			top: 50px;
			left: 0;
			z-index: 2;
		}
		&__title {
			order: 2;
		}
		&__status {
			width: 175px;
			padding: 0 35px;
		}
		&__list {
			max-width: 875px;
			margin: 0 0 0 auto;
		}
		&__info-box {
			padding: 160px 0 0;
		}
		&__text {
			margin: 0 0 50px;
		}
		&__img {
			width: 525px;
			height: 636px;
		}
		&__price-box {
			top: 527px;
		}
	}

	// about --------------------------/
	.about {
		margin: 0 0 30px;
		.container {
			padding: 0 225px;
		}
	}

	// reviews ------------------------/
	.reviews {
		max-width: 1150px;
		margin: 0 auto 70px;
		padding: 0 50px;
		&__inner {
			padding: 173px 0 80px 175px;

			background-position: 24px 100%, 0 0;
			background-size: 53px 23px, auto auto;
		}
		&__title {
			left: 175px;
		}
		&__text {
			margin: 0 0 40px;
		}
		&__btn {
			right: 0;
		}
	}

	// footer -------------------------/
	.footer {
		&__top-box {
			max-width: 1150px;
			margin: 0 auto 105px;
			padding: 0 50px;

			position: relative;
		}
		&__title {
			padding: 0 0 0 113px;

			position: absolute;
			top: 72px;
			left: 112px;
			&::after {
				right: auto;
				left: 0;
			}
		}
		&__top {
			display: flex;
			justify-content: space-between;
			width: 875px;
			margin: 0 0 0 auto;
		}
		&__info {
			display: block;
			margin: 0;
			padding: 175px 0 0 0;
		}
		&__mail {
			width: auto;
			margin: 0 0 30px;
		}
		&__address {
			width: auto;
		}
		&__map {
			width: 525px;
			height: 458px;
			margin: 0;
		}
		&__btn {
			margin: 0;

			position: absolute;
			left: 225px;
			bottom: 0;
		}
	}
}