@import 'vars';
@import 'global';
@import 'fonts';


// nav -------------------------------/
.nav {
	max-width: 1150px;
	margin: 0 auto;
	border-top: 1px solid #ececec;

	position: relative;
	&::after {
		content: '';

		position: absolute;
		top: 78px;
		left: 0;
		right: 0;
		
		height: 1px;

		background-color: #ececec;
	}
	&__burger-btn {
		position: absolute;
		top: 30px;
		right: 30px;

		width: 21px;
		height: 20px;
		padding: 0;
		border: none;

		background-color: transparent;
		cursor: pointer;
	}
	&__list {
		@include reset-ul;
		font-size: 17px;
		font-weight: 700;
	}
	&__link {
		display: block;
		padding: 28px 15px 27px 76px;
		border-bottom: 1px solid #ececec;

		color: #000;
		text-decoration: none;
		&[href] {
			&:hover {
				color: rgba($color: #000, $alpha: 0.6);
			}
			&:active {
				color: rgba($color: #000, $alpha: 0.3);
			}
		}
	}
	&__delivery {
		display: none;
		width: 265px;
		margin: 20px 0 0;

		color: #444;
		text-align: right;

	}
}
// стили бургер-кнопки при открытой и закрытой навигации
.nav--closed {
	.nav__burger-btn {
		&::before {
			content: '';

			position: absolute;
			top: 2px;
			left: 0;

			width: 21px;
			height: 2px;

			background-color: #000;
			box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
		}
	}
}
.nav--opened {
	.nav__burger-btn {
		&::before,
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			left: 50%;

			width: 27px;
			height: 2px;

			background-color: #000;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

// user ------------------------------/
.user {
	&__list {
		@include reset-ul;
		font-size: 17px;
		font-weight: 700;
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 28px 15px 27px 30px;
		border-bottom: 1px solid #ececec;

		color: #000;
		text-decoration: none;
		&:hover {
			color: rgba($color: #000, $alpha: 0.6);
			.user__icon {
				opacity: 1;
				path {
					fill: $green;
				}
			}
		}
		&:active {
			color: rgba($color: #000, $alpha: 0.3);
			.user__icon {
				opacity: 0.3;
				path {
					fill: $green;
				}
			}
		}
	}
	&__icon {
		margin: 0 26px 0 0;

		opacity: 0.2;
	}
}

// logo ------------------------------/
.logo {
	display: block;
	width: 86px;
	height: 35px;
	margin: 22px auto;
	&__link {
		display: block;
		&[href] {
			&:hover  {
				opacity: 0.6;
			}
			&:active  {
				opacity: 0.3;
			}
		}
	}
	&__img {
		display: block;
	}
}

// main-section ----------------------/
.main-section {
	margin: 0 0 30px;

	background-color: #f9f9f9;
	&__inner {
		max-width: 1150px;
		margin: 0 auto;	
		padding: 74px 0 0;

		background-image: url(../images/main-section-bg-mobile.jpg);
		background-repeat: no-repeat;
		background-position: center -17px;
	}
	&__title {
		// width: 260px;
		margin: 0 0 120px;

		font-size: 27px;
		text-align: center;
	}
	&__list {
		@include reset-ul;
		font-size: 19px;
		font-weight: 700;

		position: relative;
	}
	&__link {
		display: block;
		padding: 27.5px;

		position: relative;

		color: #fff;
		text-decoration: none;
		&::after {
			content: '';

			position: absolute;
			top: 50%;

			transform: translateY(-50%);

			opacity: 0.5;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&:hover {
			&::after {
				opacity: 0.7;
			}
		}
		&:active {
			color: rgba($color: #fff, $alpha: 0.3);
			&::after {
				opacity: 0.3;
			}
		}
	}
	&__item--interior {
		.main-section__link {
			background-color: $green;
			&::after {
				right: 36px;

				width: 40px;
				height: 62px;

				background-image: url(../images/icons/interior.svg);
			}
		}
	}
	&__item--toys {
		.main-section__link {
			background-color: #56c3b2;
			&::after {
				right: 27px;

				width: 60px;
				height: 60px;

				background-image: url(../images/icons/toy.svg);
			}
		}
	}
	&__text {
		width: 160px;
		margin: 0;
	}
}

// baskets ---------------------------/
.baskets {
	margin: 0 0 28px;
	.container {
		padding: 0 30px 42px;

		background-image: url(../images/baskets-zigzag.svg);
		background-position: 0 100%;
		background-size: 16px 7px;
		background-repeat: repeat-x;
	}
	&__title {
		margin: 0 0 8px;
	}
	&__status {
		margin: 0 0 25px;

		font-size: 17px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		color: $green;
	}
	&__list {
		@include reset-ul;
	}
	&__info-box {
		color: #444;
	}
	&__text {
		max-width: 350px;
		margin: 0 0 18px;
	}
	&__table {
		width: 100%;
		margin: 0 0 28px;
		border-collapse: collapse;
	}
	&__cell {
		padding: 9px 0 8px;
		border-bottom: 1px solid #ececec;
		&:first-child {
			width: 38%;
		}
	}
	&__img-box {
		margin: 0 0 28px;

		background-color: #f1f1f1;
	}
	&__img {
		display: block;
		width: 260px;
		height: 315px;
		margin: 0 0 0 auto;

		object-fit: cover;
	}
	&__price {
		font-size: 17px;
		font-weight: 700;
		text-align: center;

		margin: 0 0 25px;
	}
	&__btn {
		max-width: 360px;
		margin: 0 auto;
	}
}

// about -----------------------------/
.about {
	margin: 0 0 30px;
	&__title {
		margin: 0 0 30px;
	}
	&__list {
		@include reset-ul;
		font-size: 17px;
		font-weight: 700;
		line-height: 20px;
	}
	&__item {
		padding: 54px 0 28px;

		position: relative;
	}
	&__icon {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__icon--flower {
		left: 8px;
	}
	&__icon--heart {
		top: 5px;
		left: 7px;
	}
	&__icon--clew {
		left: 3px;
	}
	&__icon--box {
		left: 3px;
	}
	&__text {
		margin: 0;
	}
}

// reviews ---------------------------/
.reviews {
	margin: 0 0 38px;

	&__inner {
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 30px 50px;

		background-image: url(../images/baskets-zigzag.svg);
		background-position: 0 100%;
		background-size: 16px 7px;
		background-repeat: repeat-x;
	}
	&__title {
		margin: 0 0 27px;
	}
	&__list {
		@include reset-ul;
	}
	&__text {
		margin: 0 0 30px;

		line-height: 30px;
		color: #444;
	}
	&__name {
		margin: 0 0 120px;

		font-size: 17px;
		font-weight: 700;
		line-height: 24px;
	}
	&__mail {
		display: block;
		margin: 4px 0 0;

		font-size: 17px;
		font-weight: 400;
		line-height: 30px;
		color: #444;
		text-decoration: none;
	}
	.slick-list {
		margin: 0 0 0 -50px;
	}
	.slick-slide {
		margin: 0 0 0 50px;
	}
	.slick-arrow {
		position: absolute;
		bottom: 38px;

		width: 130px;
		height: 52px;
		padding: 0;
		border: 1px solid #ececec;

		background-color: transparent;
		cursor: pointer;
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			left: 50%;

			width: 50px;
			height: 26px;
			transform: translate(-50%, -50%);
		}
	}
	.slick-prev {
		left: 0;
		z-index: 2;
		&::after {
			background-image: url(../images/icons/reviews-arrow-prev.svg);
		}
	}
	.slick-next {
		right: 0;
		&::after {
			background-image: url(../images/icons/reviews-arrow-next.svg);
		}
	}
	&__btn {
		max-width: 360px;
		margin: 0 auto;
	}
}

// footer ----------------------------/
.footer {
	&__title {
		max-width: 1150px;
		margin: 0 auto 28px;
		padding: 0 30px;

		font-size: 18px;
	}
	&__info {
		padding: 0 30px;
		max-width: 1150px;
		margin: 0 auto;

		line-height: 30px;
		color: #444;
	}
	&__mail {
		display: flex;
		align-items: center;
		margin: 0 0 30px;
		&-link {
			height: 100%;
			margin: 0 0 0 32px;
			border-bottom: 1px solid $green;

			line-height: 24px;
			color: #444;
			text-decoration: none;
		}
	}
	&__address {
		display: flex;
		margin: 0 0 30px;
		&-info {
			margin: 0 0 0 34px;
		}
	}
	&__map {
		margin: 0 0 40px;
	}
	&__iframe {
		width: 100%;
		height: 457px;
	}
	&__btn {
		width: 260px;
		margin: 0 auto 40px;
		padding: 14px 50px;
	}
	&__bottom {
		padding: 25px 0 23px;

		background-color: #f1f1f1;
		&-wrap {
			max-width: 1150px;
			margin: 0 auto;
			padding: 0 30px;
		}
	}
	&__logo {
		display: none;
		&[href] {
			&:hover {
				opacity: 0.6;
			}
			&:active {
				opacity: 0.3;
			}
		}
	}
	&__copy {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 182px;
		margin: 0 auto;

		font-size: 19px;
		font-weight: 700;
		line-height: 24px;
		color: #000;
		text-decoration: none;
		&:hover {
			.footer__copy-icon {
				path {
					fill: #46c1ae;
				}
			}
		}
		&:active {
			opacity: 0.3;
		}
	}
}

// social-networks -------------------/
.social-networks {
	width: 260px;
	margin: 0 auto 26px;
	padding: 0 0 25px 56px;
	border-bottom: 1px solid #e5e5e5;
	&__list {
		@include reset-ul;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 184px;
		margin: 0 0 0 -40px;

	}
	&__item {
		margin: 0 0 0 40px;
	}
	&__link {
		display: block;
		&:hover {
			.social-networks__icon {
				path {
					fill: #46c1ae;
				}
			}
		}
		&:active {
			.social-networks__icon {
				path {
					opacity: 0.3;
				}
			}
		}
	}
	&__icon {
		display: block;
	}
}



// страница каталога ===========================/
.catalog-page__title {
	margin: 0 auto 30px;
	padding: 73px 0;

	font-size: 27px;
	text-align: center;

	background-color: #f1f1f1;
}

// catalog ---------------------------/
.catalog {
	&__list {
		@include reset-ul;
	}
	&__item {
		display: flex;
		flex-direction: column;
		max-width: 350px;
		margin: 0 auto 30px;
		&:hover {
			box-shadow: 0 6px 10px 1px rgba($color: #000, $alpha: 0.1);
		}
	}
	&__info-box {
		padding: 30px 28px 25px;
		border: 1px solid #ededed;

		order: 2;
	}
	&__info {
		margin: 0 0 22px;
		padding: 0 0 20px;
		border-bottom: 1px solid #ececec;
	}
	&__name {
		margin: 0 0 4px;
		&-link {
			font-size: 17px;
			font-weight: 700;
			color: #000;
			text-decoration: none;
			&:hover {
				opacity: 0.6;
			}
			&:active {
				opacity: 0.3;
			}
		}
	}
	&__feature {
		margin: 0;

		font-size: 13px;
		line-height: 30px;
		color: #444;
	}
	&__price-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__price {
		margin: 0;

		font-weight: 700;
	}
	&__basket-icon {
		display: block;

		opacity: 0.2;
	}
	&__basket-link {
		&:hover {
			.catalog__basket-icon {
				opacity: 1;
				path {
					fill: $green;
				}
			}
		}
		&:active {
			.catalog__basket-icon {
				opacity: 0.3;
				path {
					fill: $green;
				}
			}
		}
	}
	&__img-box {
		order: 1;
	}
	&__img {
		display: block;
		width: 100%;
		max-height: 300px;
		object-fit: cover
	}
}





































@import 'media';